<body>
  <div class="img-responsive" id="search">
  
            <div class='row' style="margin-bottom: 60px">
			<%= render 'shared/sharedTop' %>
			  </div>
          
          
           				   <!--  ( Create )-->
              
              <div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
              <div class="modal-dialog">
               <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">SignUp</h4>
                 </div>
    
                 <div class="modal-body">     
					  <%= form_for @user, :html => {:class => 'form-horizontal'}, :url => {:controller => 'vegam',:action =>"signup" } do |f|%>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Full name</label>
                    
                            <div class="col-xs-3">
							    <%= f.text_field :fname,class:"form-control",placeholder:"First name"%>
                            </div>
    
                            <div class="col-xs-3">
                                <%= f.text_field :lname,class:"form-control",placeholder:"Last name"%>
                            </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Phone number</label>
                    
                            <div class="col-xs-6">
								<%= f.text_field :phone,class:"form-control",placeholder:"Phone Number"%>
                            </div>
                    
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Email Id</label>                    
                            <div class="col-xs-6">
								<%= f.text_field :email,class:"form-control",placeholder:"Email"%>
                            </div>
                         </div>
                        
                         <div class="form-group">
                            <label class="col-xs-3 control-label">Password</label>
                                <div class="col-xs-6">
									<%= f.password_field :password,class:"form-control",placeholder:"Password",placeholder:"Password",type:"password"%>
                                </div>
                         </div>
                        
                          <div class="form-group">
                                <label class="col-xs-3 control-label">Re-Enter Password</label>
                                <div class="col-xs-6">
								<%= f.password_field :confirm_password,class:"form-control",placeholder:"Confirm Password",placeholder:"Password",type:"password"%>
                                </div>
                          </div>
                        
                         <div class="form-group">
                             <label class="col-xs-3 control-label">Gender</label>
                               <div class="col-xs-5">
                                   <div class="radio">
                                        <label>
										<%= f.radio_button  :gender,value:"male"%> Male
                                        </label>
                                   </div>
                                   <div class="radio">
                                        <label>
										<%= f.radio_button  :gender,value:"female"%> Female
                                        </label>
                                   </div>
                                   <div class="radio">
                                        <label>
										<%= f.radio_button  :gender,value:"Wont Disclose"%> Wont't Disclose
                                        </label>
                                   </div>
                              </div>
                        </div>
                    
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Date of birth</label>
                            <div class="col-xs-3">
								<%= f.text_field :dob,class:"form-control",placeholder:"YYYY/MM/DD"%>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-xs-3 col-xs-offset-3">
                            <button type="submit" class="btn btn-link">Update profile</button>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-xs-5 col-xs-offset-3">
							    <button type="submit" class="btn btn-info" actions=<%=f.submit 'signup'%>Register</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            </div>
							
                       </div>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>    <!--  ( Create )-->


             <!-- (  Login  )-->
         
         
         <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
   		  <div class="modal-dialog">
           <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Login</h4>
             </div>

             <div class="modal-body">
                
                 <%= form_for @user, :html => {:class => 'form-horizontal'}, :url => {:controller => 'vegam',:action =>"signin" } do |f|%>
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Email</label>
                        <div class="col-xs-5">
                            <%= f.text_field :email,class:"form-control",placeholder:"Email"%>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Password</label>
                        <div class="col-xs-5">
                            <%= f.password_field :password,class:"form-control",placeholder:"Password",placeholder:"Password",type:"password"%>
                        </div>
                    </div>
                    
                  
                    <div class="form-group">
                        <div class="col-xs-3 col-xs-offset-3">
                        <button type="submit" class="btn btn-link">Forget Password</button>
                        <button type="submit" class="btn btn-link">Connect with facebook&nbsp;<i class="fa fa-facebook-official fa-1x"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" class="btn btn-info" actions=<%=f.submit 'signin'%>Login</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                <% end %>
              </div>
            </div>
          </div>
        </div>		<!-- (  Login  )-->
        
        
            
     								<!--  ( Banner   )-->
        
            <div class="container">
             <div class="col-md-2" ></div>
              <div class="col-md-8" id="inner">
                <h2 align="center" style="color:#FFF"><strong>What would you like to do ?</strong></h2>
              
        	  <div class="row">
              		<div>
					  <a href="#"  rel=""  data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#serviceModal" onClick="populateServiceModal();">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" id="cont" align="center">
					      <img class="img-responsive "><i class="fa fa-cog fa-3x" style="color:#0CF"></i><br>Manage Services
						</div>	
                     </a>
                   </div>
                    
                    
                   <div>
                      <a href="#"  rel="" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#citiesModal">	
				       <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" id="cont" align="center">
						<img class="img-responsive "><i class="fa fa-university fa-3x" style="color:#0CF"></i><br>Manage Cities
                        </div>
                      </a>
				   </div>
                   
                    <div>
                      <a href="#"  rel=""  target="_blank">	
				       <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" id="cont" align="center">
						<img class="img-responsive "><i class="fa fa-users fa-3x" style="color:#0CF"></i><br> <%= link_to "Manage Workforce", :controller => 'workers',:action => 'index'%>
                        </div>
                      </a>
				   </div>
                   
                   <div>

				       <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" id="cont" align="center">
						<img class="img-responsive "><i class="fa fa-suitcase fa-3x" style="color:#0CF"></i><br> <%= link_to "Manage Inventory", homepage_index_path%>
                        </div>
                      </a>
				   </div>
                  
                  
                   <div>
                      <a href="#"  rel=""  target="_blank">	
				       <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" id="cont" align="center">
						<img class="img-responsive "><i class="fa fa-wrench fa-3x" style="color:#0CF"></i><br>Manage Jobs
                        </div>
                      </a>
				   </div>
                    
                    
                   <div>
                      <a href="#"  rel=""  target="_blank">	
				       <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" id="cont" align="center">
						<img class="img-responsive "><i class="fa fa-bar-chart fa-3x" style="color:#0CF"></i><br>Analyze finances
                        </div>
                      </a>
				   </div>
			    </div>
             </div>
          </div>        <!--(banner)-->






                          <!-- Manage Services -->

				  <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
					<div class="modal-dialog">
					  <div class="modal-content">
						<div class="modal-header">
						  <button type="button" class="close" data-dismiss="modal">&times;</button>

						  <ul class="nav nav-pills">
							<li class="active"><a href="#servicetab1" data-toggle="tab">Manage Service</a></li>
							<li><a href="#servicetab2" data-toggle="tab">Manage SubServices</a></li>
						  </ul>
						</div>
						<div class="modal-body">
						  <div class="tab-content">
							<div class="tab-pane active" id="servicetab1">
							  <div class="row">
								<div class="col-md-4">
								  <div id="myCarousel" class="carousel">
									<!-- Wrapper for slides -->
									<div class="carousel-inner" role="listbox" height="100px" width="100px" id="myCarousel1">

									</div>

									<!-- Left and right controls -->
									<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
									  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									  <span class="sr-only">Previous</span>
									</a>
									<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
									  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									  <span class="sr-only">Next</span>
									</a>
								  </div>>
								</div>
								<div class="col-md-8">
								  <div class="form-group">
									<div class="col-sm-10">
									  <%= form_for @city, :html => {:class => 'form-horizontal'}, :url => {:controller => 'services',:action =>"add" } do |f|%>
										  <%= f.text_field :cityName,class:"form-control",placeholder:"Service Name",id:"servicename"%></br>
										  <%= f.collection_select :cityName, City.all,:id,:cityName ,{:include_blank => ''}, {:class => 'form-control', :id => 'mycity3', onChange:'populateLocations(this.selectedIndex);'} %></br>
										  <select id="LocationsBox" class='form-control'>
										  </select></br>
										  <div align="right">
											<li class="btn btn-info" , onClick="createService();">Add</li>
										  </div>
									  <% end %>
									</div>
								  </div>
								</div>
							  </div>
							</div>

							<div class="tab-pane" id="servicetab2">
							  <%= form_for @service, :html => {:class => 'form-horizontal'}, :url => {:controller => 'services',:action =>"addSubService" } do |f|%>
								  <div class="form-group">
									<label class="col-xs-3 control-label">Service Name</label>
									<div class="col-xs-5">
									  <%= f.collection_select :name, Service.all,:id,:name ,{:include_blank => ''}, {:class => 'form-control', :id => 'myService2'} %>
									</div>
								  </div>

								  <div class="form-group">
									<label class="col-xs-3 control-label">Sub Services</label>
									<div class="col-xs-5">
									  <li class="btn btn-info" onClick="addNewSubservice('servicesGroup2');">Add</li>
									</div>
								  </div>
								  <div id='servicesGroup2'>
								  </div>
								  <div class="modal-footer">
									<div class="form-group">
									  <%=f.submit 'Submit', class:"btn btn-info"%>
									</div>
								  </div>
							  <% end %>
							</div>


						  </div>
						</div>


						<div class="modal-footer">
						  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					  </div>
					</div>
				  </div>




  <!-- (  Manage Services  )-->
        
        
	 
	 
	 
	 
	 
	 <!-- (  Manage Cities  )-->
	 
	      <div class="modal fade" id="citiesModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
   		  <div class="modal-dialog">
           <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
				<ul class="nav nav-pills">
					  <li class="active"><a href="#tab1" data-toggle="tab">Add City</a></li>
					  <li><a href="#tab2" data-toggle="tab">Add Location</a></li>
					  <li><a href="#tab3" data-toggle="tab">Edit City</a></li>
				</ul>
			</div>

             <div class="modal-body">
                
					        <div class="tab-content">
					        <div class="tab-pane active" id="tab1">
								<%= form_for @city, :html => {:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"add" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">
						                            <%= f.text_field :cityName,class:"form-control",placeholder:"City Name"%>
						                        </div>
						                    </div>

						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">Localities</label>
						                        <div class="col-xs-5">
						                            <li class="btn btn-info" onClick="addNewElement('citiesGroup1');">Add</li>
						                        </div>
						                    </div> 
										    <div id='citiesGroup1'>
											</div>
						                	<div class="modal-footer">
													<div class="form-group">
															<%=f.submit 'Submit', class:"btn btn-info"%>
													</div>		
											</div>
									<% end %>		
					        </div>
							
							
							<div class="tab-pane" id="tab2">
								<%= form_for @city, :html => {:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"add" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">
						                            <%= f.collection_select :cityName, City.all,:id,:cityName ,{:include_blank => ''}, {:class => 'form-control', :id => 'mycity2'} %>
						                        </div>
						                    </div>

						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">Localities</label>
						                        <div class="col-xs-5">
						                            <li class="btn btn-info" onClick="addNewElement('citiesGroup2');">Add</li>
						                        </div>
						                    </div> 
										    <div id='citiesGroup2'>
											</div>
						                	<div class="modal-footer">
													<div class="form-group">
															<%=f.submit 'Submit', class:"btn btn-info"%>
													</div>		
											</div>
									<% end %>		
					        </div>
							
					        <div class="tab-pane" id="tab3">
					        	<%= form_for @city, :html => { :method => 'GET',:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"show" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">

													<%= f.collection_select :cityName, City.all,:id,:cityName ,{:include_blank => ''}, {:class => 'form-control', :id => 'mycity'} %>
											  </div>
								<% end %>			  
												<li class="btn btn-info" onClick="callAjax();">Search</li>
											<div class="form-group">
											</div>
											<div id="citiesEditTab" >
						                    </div>  
						                    </div>
								
						                   

						                	<div class="modal-footer">
													<div class="form-group">
															
													</div>		
											</div>
											
					        </div>
							

					  </div>
				</div>
            </div>

          </div>
        </div>		<!-- (  Manage Cities  )-->
	 
	 
	 
              
     
      			<!-- (signup)-->
    
        <script>
		
			
		
		
		
   			 $(function() {
	  				$('button.navbar-toggle').click(function() {
					if ($('body').css('padding-top') < '100px') {
						$('body').css('padding-top', '+=245');
					} else {
						$('body').css('padding-top', '0');
					}
				  });
				});

			$(document).ready(function() {
				$('#signup').formValidation({
					framework: 'bootstrap',
					icon: {
						valid: 'glyphicon glyphicon-ok',
						invalid: 'glyphicon glyphicon-remove',
						validating: 'glyphicon glyphicon-refresh'
					},
					fields: {
						firstName: {
							row: '.col-xs-5',
							validators: {
								notEmpty: {
									message: 'The first name is required'
								},
								regexp: {
									regexp: /^[a-zA-Z\s]+$/,
									message: 'The first name can only consist of alphabetical and space'
								}
							}
						},
						lastName: {
							row: '.col-xs-5',
							validators: {
								notEmpty: {
									message: 'The last name is required'
								},
								regexp: {
									regexp: /^[a-zA-Z\s]+$/,
									message: 'The last name can only consist of alphabetical and space'
								}
							}
						},
						cellPhone: {
							row: '.col-xs-3',
							validators: {
								notEmpty: {
									message: 'The cell phone number is required'
								}
							}
						},
						homePhone: {
							row: '.col-xs-3',
							validators: {
								notEmpty: {
									message: 'The home phone number is required'
								}
							}
						},
						officePhone: {
							row: '.col-xs-3',
							validators: {
								notEmpty: {
									message: 'The office phone number is required'
								}
							}
						}
					},
					 email: {
						 row: '.col-xs-6',
						validators: {
							notEmpty: {
								message: 'The email address is required'
							},
							emailAddress: {
								message: 'The input is not a valid email address'
							}
						}
					},
					password: {
						row: '.col-xs-6',
							validators: {
								notEmpty: {
									message: 'The password is required'
								},
								different: {
									field: 'username',
									message: 'The password cannot be the same as username'
								}
							}
						},
						gender: {
							validators: {
								notEmpty: {
									message: 'The gender is required'
								}
							}
						},
						birthday: {
							row: '.col-xs-5',
							validators: {
								notEmpty: {
									message: 'The date of birth is required'
								},
								date: {
									format: 'YYYY/MM/DD',
									message: 'The date of birth is not valid'
								}
							}
						}
				 });
			});
			</script>
    
    
    
         <!--   (Login)-->
    
      <script>
	  
	  
	  
		$(document).ready(function() {
			
			$('#loginForm').formValidation({
				framework: 'bootstrap',
				excluded: [':disabled'],
				icon: {
					valid: 'glyphicon glyphicon-ok',
					invalid: 'glyphicon glyphicon-remove',
					validating: 'glyphicon glyphicon-refresh'
				},
				fields: {
					username: {
						validators: {
							notEmpty: {
								message: 'The username is required'
							}
						}
					},
					password: {
						validators: {
							notEmpty: {
								message: 'The password is required'
							}
						}
					}
				}
			});
		});
		</script>
		
    <script>
			var inival=0;
			var selectedicon;
			var slideTo=0;
			var myArray=[];
			var inivalsubservice=0;

			$('#saveModalIconPickerButton').on('change', function(e) { 
			    
				var sel = document.getElementById('iconSample');
				sel.setAttribute('class','fa '+e.icon+' fa-3x');
				selectedicon='fa '+e.icon;
				
			});
			$('#saveModalIconPickerButton').iconpicker({ 
					    align: 'center', // Only in div tag
					    arrowClass: 'btn-danger',
					    arrowPrevIconClass: 'glyphicon glyphicon-chevron-left',
					    arrowNextIconClass: 'glyphicon glyphicon-chevron-right',
					    cols: 4,
					    footer: true,
					    header: true,
					    icon: 'fa-bomb',
					    iconset: { iconClass: 'fa', iconClassFix: 'fa-', icons: ['adjust','anchor','archive','area-chart','arrows','arrows-h','arrows-v','automobile','asterisk','at','ban','bank','bar-chart-o','barcode','bars','beer','bell','bell-o','bell-slash','bell-slash-o','bicycle','binoculars','birthday-cake','bolt','bomb','book','bookmark','bookmark-o','briefcase','bug','building','building-o','bullhorn','bullseye','bus',            'cab','calculator','calendar','calendar-o','camera','camera-retro','car','caret-square-o-down','caret-square-o-left','caret-square-o-right','caret-square-o-up','cc','cc-amex','cc-discover','cc-mastercard','cc-paypal','cc-stripe','cc-visa','certificate','check','check-circle','check-circle-o','check-square','check-square-o','child','circle','circle-o','circle-thin','clock-o','cloud','cloud-download','cloud-upload','code','code-fork','coffee','cog','cogs','comment','comment-o','comments','comments-o','compass','copyright','credit-card','crop',            'crosshairs','cube','cubes','cutlery','dashboard','desktop','dashboard','database','desktop','dot-circle-o','download','edit','ellipsis-h','ellipsis-v','envelope','envelope-o','envelope-square','eraser','exchange','exclamation','exclamation-circle','exclamation-triangle','external-link','external-link-square','eye','eye-slash','eyedropper','fax','female','fighter-jet','file-archive-o','file-audio-o','file-code-o','file-excel-o','file-image-o','file-movie-o','file-pdf-o','file-photo-o','file-picture-o','file-powerpoint-o','file-sound-o','file-video-o','file-word-o','file-zip-o',            'film','filter','fire','fire-extinguisher','flag','flag-checkered','flag-o','flash','flask','folder','folder-o','folder-open','folder-open-o','frown-o','futbol-o','gamepad','gavel','gear','gears','gift','glass','globe','graduation-cap','group','hdd-o','headphones','heart','heart-o','history','home','image','inbox','info','info-circle','institution','key','keyboard-o','language','laptop','leaf','legal','lemon-o','level-down','level-up','life-bouy','life-ring','life-saver','lightbulb-o','line-chart','location-arrow','lock','magic','magnet','mail-forward','mail-reply','mail-reply-all','male','map-marker','meh-o','microphone','microphone-slash','minus','minus-circle','minus-square','minus-square-o','mobile','mobile-phone','money','moon-o','mortar-board','music','navicon','newspaper-o','paint-brush','paper-plane','paper-plane-o','paw','pencil','pencil-square','pencil-square-o','phone','phone-square','photo','picture-o','pie-chart',            'plane','plug','plus','plus-circle','plus-square','plus-square-o','power-off','print','puzzle-piece','qrcode','question','question-circle','quote-left','quote-right','random','refresh','reorder','reply','reply-all','retweet','road','rocket','rss','rss-square','search','search-minus','search-plus','send','send-o','share','share-alt','share-alt-square','share-square','share-square-o','shield','shopping-cart','sign-in','sign-out','signal','sitemap','sliders','smile-o','soccer-ball-o','sort','sort-alpha-asc','sort-alpha-desc','sort-amount-asc','sort-amount-desc','sort-asc','sort-desc','sort-down','sort-numeric-asc','sort-numeric-desc','sort-up','space-shuttle','spinner','spoon','square','square-o','star','star-half','star-half-empty','star-half-full','star-half-o','star-o',            'suitcase','sun-o',            'support','tablet','tachometer','tag','tags','tasks','taxi','terminal','thumb-tack','thumbs-down','thumbs-o-down','thumbs-o-up','thumbs-up','ticket','times','times-circle','times-circle-o','tint','toggle-down','toggle-left','toggle-off','toggle-on',                        'toggle-right','toggle-up','trash',            'trash-o','tree','trophy','truck','tty',                        'umbrella','university','unlock','unlock-alt','unsorted','upload','user','users','video-camera','volume-down','volume-off','volume-up','warning','wheelchair',            'wifi','wrench',                        'check-square','check-square-o','circle','circle-o','dot-circle-o','minus-square','minus-square-o','plus-square','plus-square-o','square','square-o','bitcoin','btc','cny','dollar','eur','euro','gbp','ils','inr','jpy','krw','money','rmb','rouble','rub','ruble','rupee','shekel','sheqel','try','turkish-lira','usd','won','yen','align-center','align-justify','align-left','align-right','bold','chain','chain-broken','clipboard','columns','copy','cut','dedent','eraser','file','file-o','file-text','file-text-o','files-o','floppy-o','font','header','indent','italic','link','list','list-alt','list-ol','list-ul','outdent','paperclip','paragraph','paste','repeat','rotate-left','rotate-right','save','scissors','strikethrough','subscript','superscript','table','text-height','text-width','th','th-large','th-list','underline','undo','unlink','angle-double-down','angle-double-left','angle-double-right','angle-double-up','angle-down','angle-left','angle-right','angle-up','arrow-circle-down','arrow-circle-left','arrow-circle-o-down','arrow-circle-o-left','arrow-circle-o-right','arrow-circle-o-up','arrow-circle-right','arrow-circle-up','arrow-down','arrow-left','arrow-right','arrow-up','arrows','arrows-alt','arrows-h','arrows-v','caret-down','caret-left','caret-right','caret-square-o-down','caret-square-o-left','caret-square-o-right','caret-square-o-up','caret-up','chevron-circle-down','chevron-circle-left','chevron-circle-right','chevron-circle-up','chevron-down','chevron-left','chevron-right','chevron-up','hand-o-down','hand-o-left','hand-o-right','hand-o-up','long-arrow-down','long-arrow-left','long-arrow-right','long-arrow-up','toggle-down','toggle-left','toggle-right','toggle-up','arrows-alt','backward','compress','eject','expand','fast-backward','fast-forward','forward','pause','play','play-circle','play-circle-o','step-backward','step-forward','stop','youtube-play','adn','android','angellist','apple','behance','behance-square','bitbucket','bitbucket-square','bitcoin','btc','css3','delicious','digg','dribbble','dropbox','drupal','empire','facebook','facebook-square','flickr','foursquare','ge','git','git-square','github','github-alt','github-square','gittip','google','google-plus','google-plus-square','google-wallet','hacker-news','html5','instagram','ioxhost',            'joomla','jsfiddle','lastfm','lastfm-square','linkedin','linkedin-square','linux','maxcdn','meanpath','openid','pagelines','paypal','pied-piper','pied-piper-alt','pinterest','pinterest-square','qq','ra','rebel','reddit','reddit-square','renren','share-alt','share-alt-square','skype','slack','slideshare','soundcloud','spotify','stack-exchange','stack-overflow','steam','steam-square','stumbleupon','stumbleupon-circle','tencent-weibo','trello','tumblr','tumblr-square','twitch',            'twitter','twitter-square','vimeo-square','vine','vk','wechat','weibo','weixin','windows','wordpress','xing','xing-square','yahoo','yelp','youtube','youtube-play','youtube-square','ambulance','h-square','hospital-o','medkit','plus-square','stethoscope','user-md','wheelchair'] },
					    labelHeader: '{0} of {1} pages',
					    labelFooter: '{0} - {1} of {2} icons',
					    placement: 'bottom', // Only in button tag
					    rows: 5,
					    search: false,
					    searchText: 'Search',
					    selectedClass: 'btn-success',
					    unselectedClass: ''
			});

			function addNewElement(elementCityID) {
			inival=inival+1; // Increment element number by 1
			var ni = document.getElementById(elementCityID);
			var newdiv1 = document.createElement('div'); // Create dynamic element
			newdiv1.setAttribute('class','form-group');
			ni.appendChild(newdiv1);			
			var newlab = document.createElement('label');
			newlab.setAttribute('class','col-xs-3 control-label');
			var newdiv = document.createElement('div'); // Create dynamic element
			var divIdName = 'Location'+inival;
			newdiv.setAttribute('class','col-xs-5');
			newdiv1.appendChild(newlab);
			newdiv1.appendChild(newdiv);
			var newText = document.createElement('input'); 			
			newText.setAttribute('type','text');
			newText.setAttribute('name',divIdName);
			newText.setAttribute('class','form-control');
			newText.setAttribute('placeholder','Locality Name');
			newdiv.appendChild(newText);
			}

			function addNewSubservice(elementServiceID) {
				inivalsubservice=inivalsubservice+1; // Increment element number by 1
				var ni = document.getElementById(elementServiceID);
				var newdiv1 = document.createElement('div'); // Create dynamic element
				newdiv1.setAttribute('class','form-group');
				ni.appendChild(newdiv1);
				var newlab = document.createElement('label');
				newlab.setAttribute('class','col-xs-3 control-label');
				var newdiv = document.createElement('div'); // Create dynamic element
				var divIdName = 'Subservice'+inivalsubservice;
				newdiv.setAttribute('class','col-xs-5');
				newdiv1.appendChild(newlab);
				newdiv1.appendChild(newdiv);
				var newText = document.createElement('input');
				newText.setAttribute('type','text');
				newText.setAttribute('name',divIdName);
				newText.setAttribute('class','form-control');
				newText.setAttribute('placeholder','Sub Service Name');
				newdiv.appendChild(newText);
			}
			   function getCityID(){

				   var sel = document.getElementById('mycity');
				   var sv = sel.options[sel.selectedIndex].value;
				   alert(sv);

			}
			
			function callAjax() {
				   var sel = document.getElementById('mycity');
				   var sv = sel.options[sel.selectedIndex].value;
				   $.ajax({
			                 url: "<%= '/cities/show' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { city_id: sv },
			            complete: function() {},
			             success: function(data) {
									$('#citiesEditTab').empty()
						            $.each(data.locations, function(i, location) {
								            $('#citiesEditTab').append('<div class="form-group"><label class="col-xs-3 control-label"></label><label class="col-xs-3 control-label">'+ location.subCity + '</label><div class="col-xs-6"><li class="btn btn-info" id="deleteCity'+location.id+'" onClick="callDelete(this.id);">Delete</li></div></div>');
								        });

			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
			
			function createService() {
				   var sel = document.getElementById('mycity3');
				   var city = sel.options[sel.selectedIndex].value;
				   var sel1 = document.getElementById('LocationsBox');
				   var location = sel1.options[sel1.selectedIndex].value;
				   var servicename = document.getElementById('servicename').value;
				   alert(myArray[slideTo]);
				   $.ajax({
			                 url: "<%= '/services/add' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { city_id: city, location_id: location ,service_name: servicename,icon_name:myArray[slideTo]},
			            complete: function() {},
			             success: function(data) {
										alert(data.status)
			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
			
			
			function populateServiceModal(){
				$.ajax({
			                 url: "<%= '/admins/getIcons' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: {},
			            complete: function() {},
			             success: function(data) {
									var myIcons = data.icons;
							        var myparentDiv = document.getElementById('myCarousel1');
							        myparentDiv.innerHTML='';
							 		var myflag=0;
									for (var i=0;i<myIcons.length;i++) {
										if (!myIcons[i].startsWith('.')) {
											if (myflag==0) {
												var newdiv1 = document.createElement('div'); // Create dynamic element
												newdiv1.setAttribute('class','item active');
												var img1 = document.createElement('img');
												img1.setAttribute('src','/assets/icons/'+myIcons[i]);
												newdiv1.appendChild(img1);
												myparentDiv.appendChild(newdiv1);
												myflag=1;
											} else {
												var newdiv1 = document.createElement('div'); // Create dynamic element
												newdiv1.setAttribute('class','item');
												var img1 = document.createElement('img');
												img1.setAttribute('src','/assets/icons/'+myIcons[i]);
												newdiv1.appendChild(img1);
												myparentDiv.appendChild(newdiv1);
											}
											myArray.push('/assets/icons/'+myIcons[i]);
										}
									}

			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });

			}
			
			
			function populateLocations(cityID) {
				var sel = document.getElementById('mycity3');
				var sv = sel.options[sel.selectedIndex].value;
				var x = document.getElementById("LocationsBox");
				x.options.length=0;
				x.selectedIndex=-1;
				$.ajax({
				        
			                 url: "<%= '/cities/show' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { city_id: sv },
			            complete: function() {},
			             success: function(data) {

									var temp=0;
						            $.each(data.locations, function(i, location) {
											var option = document.createElement("option");
											option.value = location.id;
											option.text = location.subCity;
											x.add(option,i);
											temp++;
								        });
			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
			function callDelete(locationID) {
				   myID=locationID.replace('deleteCity','');
				   $.ajax({
			                 url: "<%= '/cities/update' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { locality_id: myID },
			            complete: function() {},
			             success: function(data) {
									callAjax();

			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
						$('.carousel').carousel({
						   interval: 10000000
						  });

						$('.carousel').on('slide.bs.carousel', function (e) {
							slideTo = $(e.relatedTarget).index();
						});


	</script>
 					
    
  </body>