<div class="col-md-2" xmlns="http://www.w3.org/1999/html"><div class="sidebar-nav">

  <ul class="nav nav-list accordion" id="sidenav-accordian">
    <li>
      <div class="accordion-heading"> <a href="#"  rel="" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#citiesModal">	
              Manage Cities
           </a>

      </div>

    </li>

    <li>
      <div class="accordion-heading"> <a data-toggle="modal" data-target="#serviceModal"> <span class="nav-header-primary">
                Manage Services
            </span></a>

      </div>

    </li>

    <li>
      <div class="accordion-heading"> <%= link_to content_tag(:span, 'Manage Workers'), {:action => "index",:controller=>"workers"}, :class=>"nav-header-primary" %>

      </div>


    </li>
    <li>
      <div class="accordion-heading"> <%= link_to content_tag(:span, 'Manage Leads'), {:action => "index",:controller=>"leads"}, :class=>"nav-header-primary" %>

      </div>


    </li>
    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas4"> <span class="nav-header-primary">
             Manage Inventory
            </span></a>

      </div>
      <ul class="nav nav-list collapse" id="content-areas4">
        <li><%= link_to "Manage Item", items_path%>
        </li>
        <li><%= link_to "Manage Warehouse", warehouses_path%>
        </li>
        <li><%= link_to "Manage Item Transactions", item_wh_transacs_path%>
        </li>
      </ul>
    </li>
  </ul>

</div>

</div>
 <!-- Manage Services -->

                          <div class="modal fade" id="serviceModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  <h4 class="modal-title">Login</h4>
                                </div>
                                <div class="modal-body">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <img class="img-responsive "><i class="fa fa-university fa-5x" id="iconSample"></i>
                                      <br/>

                                      <br/>
                                      <button type="button" class="btn btn-default" id="saveModalIconPickerButton"></button>
                                      <br/>
                                    </div>
                                    <div class="col-md-8">
                                      <div class="form-group">
                                        <div class="col-sm-10">
										  	<%= form_for City.new, :html => {:class => 'form-horizontal'}, :url => {:controller => 'services',:action =>"add" } do |f|%>
											        <%= f.text_field :cityName,class:"form-control",placeholder:"Service Name",id:"servicename"%></br>
						                            <%= f.collection_select :cityName, City.all,:id,:cityName ,{:include_blank => ''}, {:class => 'form-control', :id => 'mycity3', onChange:'populateLocations(this.selectedIndex);'} %></br>
						                            <select id="LocationsBox" class='form-control'>
													
												    </select></br>
													<div align="right">
													<li class="btn btn-info" , onClick="createService();">Add</li>
													</div>
										 <% end %>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                              </div>

                            </div>
                          </div>
              		<!-- (  Manage Services  )-->
				  
				  
<!-- Cities Modal ---->
<div class="modal fade" id="citiesModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
   		  <div class="modal-dialog">
           <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
				<ul class="nav nav-pills">
					  <li class="active"><a href="#tab1" data-toggle="tab">Add City</a></li>
					  <li><a href="#tab2" data-toggle="tab">Add Location</a></li>
					  <li><a href="#tab3" data-toggle="tab">Edit City</a></li>
				</ul>
			</div>

             <div class="modal-body">
                
					        <div class="tab-content">
					        <div class="tab-pane active" id="tab1">
								<%= form_for City.new, :html => {:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"add" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">
						                            <%= f.text_field :cityName,class:"form-control",placeholder:"City Name"%>
						                        </div>
						                    </div>

						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">Localities</label>
						                        <div class="col-xs-5">
						                            <li class="btn btn-info" onClick="addNewElement('citiesGroup1');">Add</li>
						                        </div>
						                    </div> 
										    <div id='citiesGroup1'>
											</div>
						                	<div class="modal-footer">
													<div class="form-group">
															<%=f.submit 'Submit', class:"btn btn-info"%>
													</div>		
											</div>
									<% end %>		
					        </div>
							
							
							<div class="tab-pane" id="tab2">
								<%= form_for City.new, :html => {:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"add" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">
						                            <%= f.collection_select :cityName, City.all,:id,:cityName ,{:include_blank => ''}, {:class => 'form-control', :id => 'mycity2'} %>
						                        </div>
						                    </div>

						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">Localities</label>
						                        <div class="col-xs-5">
						                            <li class="btn btn-info" onClick="addNewElement('citiesGroup2');">Add</li>
						                        </div>
						                    </div> 
										    <div id='citiesGroup2'>
											</div>
						                	<div class="modal-footer">
													<div class="form-group">
															<%=f.submit 'Submit', class:"btn btn-info"%>
													</div>		
											</div>
									<% end %>		
					        </div>
							
					        <div class="tab-pane" id="tab3">
					        	<%= form_for City.new, :html => { :method => 'GET',:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"show" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">

													<%= f.collection_select :cityName, City.all,:id,:cityName ,{:include_blank => ''}, {:class => 'form-control', :id => 'mycity'} %>
											  </div>
								<% end %>			  
												<li class="btn btn-info" onClick="callAjax();">Search</li>
											<div class="form-group">
											</div>
											<div id="citiesEditTab" >
						                    </div>  
						                    </div>
								
						                   

						                	<div class="modal-footer">
													<div class="form-group">
															
													</div>		
											</div>
											
					        </div>
							

					  </div>
				</div>
            </div>

          </div>
        </div>
		

<script>
			var inival=0;
			var selectedicon;
			$('#saveModalIconPickerButton').on('change', function(e) { 
			    selectedicon=e.icon;
				var sel = document.getElementById('iconSample');
				sel.setAttribute('class','fa '+selectedicon+' fa-3x');
				
			});

			function addNewElement(elementCityID) {
			inival=inival+1; // Increment element number by 1
			var ni = document.getElementById(elementCityID);
			var newdiv1 = document.createElement('div'); // Create dynamic element
			newdiv1.setAttribute('class','form-group');
			ni.appendChild(newdiv1);			
			var newlab = document.createElement('label');
			newlab.setAttribute('class','col-xs-3 control-label');
			var newdiv = document.createElement('div'); // Create dynamic element
			var divIdName = 'Location'+inival;
			newdiv.setAttribute('class','col-xs-5');
			newdiv1.appendChild(newlab);
			newdiv1.appendChild(newdiv);
			var newText = document.createElement('input'); 			
			newText.setAttribute('type','text');
			newText.setAttribute('name',divIdName);
			newText.setAttribute('class','form-control');
			newText.setAttribute('placeholder','Locality Name');
			newdiv.appendChild(newText);
			}
			
			
			   function getCityID(){

				   var sel = document.getElementById('mycity');
				   var sv = sel.options[sel.selectedIndex].value;
				   alert(sv);

			}
			
			function callAjax() {
				   var sel = document.getElementById('mycity');
				   var sv = sel.options[sel.selectedIndex].value;
				   $.ajax({
			                 url: "<%= '/cities/show' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { city_id: sv },
			            complete: function() {},
			             success: function(data) {
									$('#citiesEditTab').empty()
						            $.each(data.locations, function(i, location) {
								            $('#citiesEditTab').append('<div class="form-group"><label class="col-xs-3 control-label"></label><label class="col-xs-3 control-label">'+ location.subCity + '</label><div class="col-xs-6"><li class="btn btn-info" id="deleteCity'+location.id+'" onClick="callDelete(this.id);">Delete</li></div></div>');
								        });

			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
			
			function createService() {
				   var sel = document.getElementById('mycity3');
				   var city = sel.options[sel.selectedIndex].value;
				   var sel1 = document.getElementById('LocationsBox');
				   var location = sel1.options[sel1.selectedIndex].value;
				   var servicename = document.getElementById('servicename').value;
				   
				   $.ajax({
			                 url: "<%= '/services/add' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { city_id: city, location_id: location ,service_name: servicename,icon_name:selectedicon},
			            complete: function() {},
			             success: function(data) {
										alert(data.status)
			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
			
			function populateLocations(cityID) {
				var sel = document.getElementById('mycity3');
				var sv = sel.options[sel.selectedIndex].value;
				var x = document.getElementById("LocationsBox");
				x.options.length=0;
				x.selectedIndex=-1;
				$.ajax({
				        
			                 url: "<%= '/cities/show' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { city_id: sv },
			            complete: function() {},
			             success: function(data) {

									var temp=0;
						            $.each(data.locations, function(i, location) {
											var option = document.createElement("option");
											option.value = location.id;
											option.text = location.subCity;
											x.add(option,i);
											temp++;
								        });
			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}			
			function callDelete(locationID) {
				   myID=locationID.replace('deleteCity','');
				   $.ajax({
			                 url: "<%= '/cities/update' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { locality_id: myID },
			            complete: function() {},
			             success: function(data) {
									callAjax();

			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
			
	</script>		