<div class="col-md-2" xmlns="http://www.w3.org/1999/html"><div class="sidebar-nav">

  <ul class="nav nav-list accordion" id="sidenav-accordian">
    <li>
      <div class="accordion-heading"> <a href="#"  rel="" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#citiesModal">	
              Manage Cities
            </span></a>

      </div>

    </li>

    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas"> <span class="nav-header-primary">
                Manage Services
            </span></a>

      </div>

    </li>

    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas"> <span class="nav-header-primary">
                Manage Workers
            </span></a>

      </div>


    </li>
    <li>
      <div class="accordion-heading"> <%= link_to content_tag(:span, 'Manage Leads'), {:action => "index",:controller=>"leads"}, :class=>"nav-header-primary" %>

      </div>


    </li>
    <li>
      <div class="accordion-heading"> <a data-toggle="collapse" data-target="#content-areas4"> <span class="nav-header-primary">
             Manage Inventory
            </span></a>

      </div>
      <ul class="nav nav-list collapse" id="content-areas4">
        <li><%= link_to "Manage Item", items_path%>
        </li>
        <li><%= link_to "Manage Warehouse", warehouses_path%>
        </li>
        <li><%= link_to "Manage Item Transactions", item_wh_transacs_path%>
        </li>
      </ul>
    </li>
  </ul>

</div>

</div>

<!-- Cities Modal ---->
<div class="modal fade" id="citiesModal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
   		  <div class="modal-dialog">
           <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
				<ul class="nav nav-pills">
					  <li class="active"><a href="#tab1" data-toggle="tab">Add City</a></li>
					  <li><a href="#tab2" data-toggle="tab">Add Location</a></li>
					  <li><a href="#tab3" data-toggle="tab">Edit City</a></li>
				</ul>
			</div>

             <div class="modal-body">
                
					        <div class="tab-content">
					        <div class="tab-pane active" id="tab1">
								<%= form_for City.new, :html => {:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"add" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">
						                            <%= f.text_field :cityName,class:"form-control",placeholder:"City Name"%>
						                        </div>
						                    </div>

						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">Localities</label>
						                        <div class="col-xs-5">
						                            <li class="btn btn-info" onClick="addNewElement('citiesGroup1');">Add</li>
						                        </div>
						                    </div> 
										    <div id='citiesGroup1'>
											</div>
						                	<div class="modal-footer">
													<div class="form-group">
															<%=f.submit 'Submit', class:"btn btn-info"%>
													</div>		
											</div>
									<% end %>		
					        </div>
							
							
							<div class="tab-pane" id="tab2">
								<%= form_for City.new, :html => {:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"add" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">
						                            <%= f.collection_select :cityName, City.all,:id,:cityName ,{:include_blank => ''}, {:class => 'form-control', :id => 'mycity2'} %>
						                        </div>
						                    </div>

						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">Localities</label>
						                        <div class="col-xs-5">
						                            <li class="btn btn-info" onClick="addNewElement('citiesGroup2');">Add</li>
						                        </div>
						                    </div> 
										    <div id='citiesGroup2'>
											</div>
						                	<div class="modal-footer">
													<div class="form-group">
															<%=f.submit 'Submit', class:"btn btn-info"%>
													</div>		
											</div>
									<% end %>		
					        </div>
							
					        <div class="tab-pane" id="tab3">
					        	<%= form_for City.new, :html => { :method => 'GET',:class => 'form-horizontal'}, :url => {:controller => 'cities',:action =>"show" } do |f|%>
						                    <div class="form-group">
						                        <label class="col-xs-3 control-label">City Name</label>
						                        <div class="col-xs-5">

													<%= f.collection_select :cityName, City.all,:id,:cityName ,{:include_blank => ''}, {:class => 'form-control', :id => 'mycity'} %>
											  </div>
								<% end %>			  
												<li class="btn btn-info" onClick="callAjax();">Search</li>
											<div class="form-group">
											</div>
											<div id="citiesEditTab" >
						                    </div>  
						                    </div>
								
						                   

						                	<div class="modal-footer">
													<div class="form-group">
															
													</div>		
											</div>
											
					        </div>
							

					  </div>
				</div>
            </div>

          </div>
        </div>
		

<script>
			var inival=0;
			var selectedicon;
			$('#saveModalIconPickerButton').on('change', function(e) { 
			    selectedicon=e.icon;
				var sel = document.getElementById('iconSample');
				sel.setAttribute('class','fa '+selectedicon+' fa-3x');
				
			});
			$('#saveModalIconPickerButton').iconpicker({ 
					    align: 'center', // Only in div tag
					    arrowClass: 'btn-danger',
					    arrowPrevIconClass: 'glyphicon glyphicon-chevron-left',
					    arrowNextIconClass: 'glyphicon glyphicon-chevron-right',
					    cols: 4,
					    footer: true,
					    header: true,
					    icon: 'fa-bomb',
					    iconset: { iconClass: 'fa', iconClassFix: 'fa-', icons: ['adjust','anchor','archive','area-chart','arrows','arrows-h','arrows-v','automobile','asterisk','at','ban','bank','bar-chart-o','barcode','bars','beer','bell','bell-o','bell-slash','bell-slash-o','bicycle','binoculars','birthday-cake','bolt','bomb','book','bookmark','bookmark-o','briefcase','bug','building','building-o','bullhorn','bullseye','bus',            'cab','calculator','calendar','calendar-o','camera','camera-retro','car','caret-square-o-down','caret-square-o-left','caret-square-o-right','caret-square-o-up','cc','cc-amex','cc-discover','cc-mastercard','cc-paypal','cc-stripe','cc-visa','certificate','check','check-circle','check-circle-o','check-square','check-square-o','child','circle','circle-o','circle-thin','clock-o','cloud','cloud-download','cloud-upload','code','code-fork','coffee','cog','cogs','comment','comment-o','comments','comments-o','compass','copyright','credit-card','crop',            'crosshairs','cube','cubes','cutlery','dashboard','desktop','dashboard','database','desktop','dot-circle-o','download','edit','ellipsis-h','ellipsis-v','envelope','envelope-o','envelope-square','eraser','exchange','exclamation','exclamation-circle','exclamation-triangle','external-link','external-link-square','eye','eye-slash','eyedropper','fax','female','fighter-jet','file-archive-o','file-audio-o','file-code-o','file-excel-o','file-image-o','file-movie-o','file-pdf-o','file-photo-o','file-picture-o','file-powerpoint-o','file-sound-o','file-video-o','file-word-o','file-zip-o',            'film','filter','fire','fire-extinguisher','flag','flag-checkered','flag-o','flash','flask','folder','folder-o','folder-open','folder-open-o','frown-o','futbol-o','gamepad','gavel','gear','gears','gift','glass','globe','graduation-cap','group','hdd-o','headphones','heart','heart-o','history','home','image','inbox','info','info-circle','institution','key','keyboard-o','language','laptop','leaf','legal','lemon-o','level-down','level-up','life-bouy','life-ring','life-saver','lightbulb-o','line-chart','location-arrow','lock','magic','magnet','mail-forward','mail-reply','mail-reply-all','male','map-marker','meh-o','microphone','microphone-slash','minus','minus-circle','minus-square','minus-square-o','mobile','mobile-phone','money','moon-o','mortar-board','music','navicon','newspaper-o','paint-brush','paper-plane','paper-plane-o','paw','pencil','pencil-square','pencil-square-o','phone','phone-square','photo','picture-o','pie-chart',            'plane','plug','plus','plus-circle','plus-square','plus-square-o','power-off','print','puzzle-piece','qrcode','question','question-circle','quote-left','quote-right','random','refresh','reorder','reply','reply-all','retweet','road','rocket','rss','rss-square','search','search-minus','search-plus','send','send-o','share','share-alt','share-alt-square','share-square','share-square-o','shield','shopping-cart','sign-in','sign-out','signal','sitemap','sliders','smile-o','soccer-ball-o','sort','sort-alpha-asc','sort-alpha-desc','sort-amount-asc','sort-amount-desc','sort-asc','sort-desc','sort-down','sort-numeric-asc','sort-numeric-desc','sort-up','space-shuttle','spinner','spoon','square','square-o','star','star-half','star-half-empty','star-half-full','star-half-o','star-o',            'suitcase','sun-o',            'support','tablet','tachometer','tag','tags','tasks','taxi','terminal','thumb-tack','thumbs-down','thumbs-o-down','thumbs-o-up','thumbs-up','ticket','times','times-circle','times-circle-o','tint','toggle-down','toggle-left','toggle-off','toggle-on',                        'toggle-right','toggle-up','trash',            'trash-o','tree','trophy','truck','tty',                        'umbrella','university','unlock','unlock-alt','unsorted','upload','user','users','video-camera','volume-down','volume-off','volume-up','warning','wheelchair',            'wifi','wrench',                        'check-square','check-square-o','circle','circle-o','dot-circle-o','minus-square','minus-square-o','plus-square','plus-square-o','square','square-o','bitcoin','btc','cny','dollar','eur','euro','gbp','ils','inr','jpy','krw','money','rmb','rouble','rub','ruble','rupee','shekel','sheqel','try','turkish-lira','usd','won','yen','align-center','align-justify','align-left','align-right','bold','chain','chain-broken','clipboard','columns','copy','cut','dedent','eraser','file','file-o','file-text','file-text-o','files-o','floppy-o','font','header','indent','italic','link','list','list-alt','list-ol','list-ul','outdent','paperclip','paragraph','paste','repeat','rotate-left','rotate-right','save','scissors','strikethrough','subscript','superscript','table','text-height','text-width','th','th-large','th-list','underline','undo','unlink','angle-double-down','angle-double-left','angle-double-right','angle-double-up','angle-down','angle-left','angle-right','angle-up','arrow-circle-down','arrow-circle-left','arrow-circle-o-down','arrow-circle-o-left','arrow-circle-o-right','arrow-circle-o-up','arrow-circle-right','arrow-circle-up','arrow-down','arrow-left','arrow-right','arrow-up','arrows','arrows-alt','arrows-h','arrows-v','caret-down','caret-left','caret-right','caret-square-o-down','caret-square-o-left','caret-square-o-right','caret-square-o-up','caret-up','chevron-circle-down','chevron-circle-left','chevron-circle-right','chevron-circle-up','chevron-down','chevron-left','chevron-right','chevron-up','hand-o-down','hand-o-left','hand-o-right','hand-o-up','long-arrow-down','long-arrow-left','long-arrow-right','long-arrow-up','toggle-down','toggle-left','toggle-right','toggle-up','arrows-alt','backward','compress','eject','expand','fast-backward','fast-forward','forward','pause','play','play-circle','play-circle-o','step-backward','step-forward','stop','youtube-play','adn','android','angellist','apple','behance','behance-square','bitbucket','bitbucket-square','bitcoin','btc','css3','delicious','digg','dribbble','dropbox','drupal','empire','facebook','facebook-square','flickr','foursquare','ge','git','git-square','github','github-alt','github-square','gittip','google','google-plus','google-plus-square','google-wallet','hacker-news','html5','instagram','ioxhost',            'joomla','jsfiddle','lastfm','lastfm-square','linkedin','linkedin-square','linux','maxcdn','meanpath','openid','pagelines','paypal','pied-piper','pied-piper-alt','pinterest','pinterest-square','qq','ra','rebel','reddit','reddit-square','renren','share-alt','share-alt-square','skype','slack','slideshare','soundcloud','spotify','stack-exchange','stack-overflow','steam','steam-square','stumbleupon','stumbleupon-circle','tencent-weibo','trello','tumblr','tumblr-square','twitch',            'twitter','twitter-square','vimeo-square','vine','vk','wechat','weibo','weixin','windows','wordpress','xing','xing-square','yahoo','yelp','youtube','youtube-play','youtube-square','ambulance','h-square','hospital-o','medkit','plus-square','stethoscope','user-md','wheelchair'] },
					    labelHeader: '{0} of {1} pages',
					    labelFooter: '{0} - {1} of {2} icons',
					    placement: 'bottom', // Only in button tag
					    rows: 5,
					    search: false,
					    searchText: 'Search',
					    selectedClass: 'btn-success',
					    unselectedClass: ''
			});

			function addNewElement(elementCityID) {
			inival=inival+1; // Increment element number by 1
			var ni = document.getElementById(elementCityID);
			var newdiv1 = document.createElement('div'); // Create dynamic element
			newdiv1.setAttribute('class','form-group');
			ni.appendChild(newdiv1);			
			var newlab = document.createElement('label');
			newlab.setAttribute('class','col-xs-3 control-label');
			var newdiv = document.createElement('div'); // Create dynamic element
			var divIdName = 'Location'+inival;
			newdiv.setAttribute('class','col-xs-5');
			newdiv1.appendChild(newlab);
			newdiv1.appendChild(newdiv);
			var newText = document.createElement('input'); 			
			newText.setAttribute('type','text');
			newText.setAttribute('name',divIdName);
			newText.setAttribute('class','form-control');
			newText.setAttribute('placeholder','Locality Name');
			newdiv.appendChild(newText);
			}
			
			
			   function getCityID(){

				   var sel = document.getElementById('mycity');
				   var sv = sel.options[sel.selectedIndex].value;
				   alert(sv);

			}
			
			function callAjax() {
				   var sel = document.getElementById('mycity');
				   var sv = sel.options[sel.selectedIndex].value;
				   $.ajax({
			                 url: "<%= '/cities/show' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { city_id: sv },
			            complete: function() {},
			             success: function(data) {
									$('#citiesEditTab').empty()
						            $.each(data.locations, function(i, location) {
								            $('#citiesEditTab').append('<div class="form-group"><label class="col-xs-3 control-label"></label><label class="col-xs-3 control-label">'+ location.subCity + '</label><div class="col-xs-6"><li class="btn btn-info" id="deleteCity'+location.id+'" onClick="callDelete(this.id);">Delete</li></div></div>');
								        });

			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
			
			
			function callDelete(locationID) {
				   myID=locationID.replace('deleteCity','');
				   $.ajax({
			                 url: "<%= '/cities/update' %>", // Route to the Script Controller method
			                type: "GET",
			            dataType: "json",
			                data: { locality_id: myID },
			            complete: function() {},
			             success: function(data) {
									callAjax();

			                      },
			               error: function() {
			                        alert("Ajax error!")
			                      }
			    });
			}
			
	</script>		