<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@item,remote: remote, html: {role: :form, 'data-model' => 'item'}) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
    <%= f.label :name , class: 'control-label'%><br>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>`
    <div class="form-group">
    <%= f.label :category , class: 'control-label'%><br>
    <%= f.select :category, [['Paint', 'Paint'], ['Machinery', 'Machinery'], ['Tool', 'Tool'], ['Misc', 'Misc']],{ include_blank: true }, { class: 'form-control' } %>
  </div>
    <div class="form-group">
    <%= f.label :uom , class: 'control-label'%><br>
    <%= f.select :uom, [['Litre', 'Litre'], ['Kg', 'Kg'], ['Unit', 'Unit']],{ include_blank: true }, { class: 'form-control' } %>
  </div>
    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-info' %>
    </div>
<% end %>