<div class='row' style="margin-bottom: 60px">
  <%= render 'shared/sharedTop' %>
</div>

<div class='row'>
  <%= render 'shared/sharedside' %>


  <div class="col-md-10" >
<h1>Editing item_wh_transac</h1>

<%= render 'form' %>

<%= link_to 'Show', @item_wh_transac %> |
<%= link_to 'Back', item_wh_transacs_path %>
</div>
</div>