<h1>Listing item_wh_transacs</h1>
<table>
  <thead>
    <tr>
      <%= form_tag item_wh_transacs_path, :role => 'form', :method => 'get' do %>
        <td>
          Warehouse
          <span><%= select_tag :warehouse_filter, options_for_select(@warehouse.map { |value| [ value.name + "-" + value.location, value.id ]}, :selected => params[:warehouse_filter]), {:include_blank => true} %></span>
        </td>
        <td >
          Item
          <span><%= select_tag :item_filter, options_for_select(@item.map { |value| [ value.name +  " (" + value.uom + ")", value.id ]}, :selected => params[:item_filter]), {:include_blank => true}%></span>
        </td>
        <td >
          Transac Type
          <span><%= select_tag :transac_type_filter, options_for_select([['Stock In', 'Stock In'], ['Stock Out', 'Stock Out'], ['Usage', 'Usage'], ['Return', 'Return'],['Initial', 'Initial'], ['Adjustment', 'Adjustment'], ['Purchase','Purchase']], :selected => params[:transac_type_filter]), {:include_blank => true}%></span>
        </td>
        <!--<td colspan="7">
          <div>
            Transac Date From
            <span><%= date_select(:transac_start, params[:transac_start]) %></span>
          </div>
          <div>
            Transac Date To &nbsp;&nbsp;&nbsp; 
            <span><%= date_select(:transac_end, params[:transac_end]) %></span>
          </div>
        </td>-->
        <td>
          <%= submit_tag("Filter") %>
        </td>
      <% end %>
    </tr>
    <tr>
      <th>Warehouse</th>
      <th>Item</th>
      <th>Transac date</th>
      <th>Amount</th>
      <th>Price</th>
      <th>Transac type</th>
      <th>Reference</th>
      <th>Responsible person</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @item_wh_transacs.each do |item_wh_transac| %>
      <tr>
        <td><%= item_wh_transac.warehouse.name %></td>
        <td><%= item_wh_transac.item.name %></td>
        <td><%= item_wh_transac.transac_date %></td>
        <td><%= item_wh_transac.amount.to_s + " " + item_wh_transac.item.uom %></td>
        <td><%= item_wh_transac.price.to_s + " $" unless item_wh_transac.price.nil? %></td>
        <td><%= item_wh_transac.transac_type %></td>
        <td>
          <% @transac = ItemWhTransac.all.where("id=?", item_wh_transac.reference_stockout_usage) %>
            <% unless @transac.empty? %>
            <% @transac.each do |value| %>
            <%= value.item.name + "(" + value.amount.to_s + " "+ value.item.uom + ") " + value.transac_type + " " +value.transac_date.to_s %>
            <% end %>
            <% end %>
        </td>
        <td><%= item_wh_transac.responsible_person %></td>
        <td><%= link_to 'Show', item_wh_transac %></td>
        <td><%= link_to 'Edit', edit_item_wh_transac_path(item_wh_transac) %></td>
        <td><%= link_to 'Destroy', item_wh_transac, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item wh transac', new_item_wh_transac_path %>
