    <div class='row' style="margin-bottom: 60px">
      <%= render 'shared/sharedTop' %>
    </div>

 <div class='row'>
      <%= render 'shared/sharedside' %>


   <div class="col-md-10" style="margin-left:230px;">




        <!--(Heading)-->

            <div align="center">
              <h1><b>Add items with transcation </b></h1>
            </div>

            <!--(End Heading)-->

            <!--(add button)-->

            <div>
              <%= link_to '', new_item_wh_transac_path, class:'btn btn-info', id:'add-btn' %>
            </div>

           <!--(end add button)-->



              <!--(filter table)-->
     <div  id="date-table">
       <table >
         <tr>
     <%= form_for_filterrific @filterrific, html: { :id => 'filterrific-no-ajax-auto-submit'} do |f| %>

                 <div>
                   <td style="padding-left:20px ">
           Warehouse
           <span><%= f.select(
                       :with_warehouse_id,
                       @filterrific.select_options[:with_warehouse_id],
                       { include_blank: '- Any -' }
               ) %></span>
                   </td>
         </div>


         <div>
           <td style="padding-left:20px ">
           Item
           <span><%= f.select(
                       :with_item_id,
                       @filterrific.select_options[:with_item_id],
                       { include_blank: '- Any -' }
               ) %></span>

         </div>


               <div>
                 <td style="padding-left:20px ">
           Transaction Type
           <span><%= f.select(
                       :with_transaction_type,
                       @filterrific.select_options[:with_transaction_type],
                       { include_blank: '- Any -' }
               ) %></span>
                 </td>
         </div>


         <div>
           <td style="padding-left:20px ">
           Registered after
           <%= f.text_field(:with_transaction_date_from, class: 'js-datepicker') %>
           </td>
         </div>


         <div>
           <td style="padding-left:20px ">
           Registered after
           <%= f.text_field(:with_transaction_date_to, class: 'js-datepicker') %>
           </td>
         </div>

               </tr>
               </table>

         <div>
           <%= link_to(
                       'Reset filters',
                       reset_filterrific_url,
               ) %>
         </div>
         <%= f.submit 'Filter' %>
         <%# add an automated spinner to your form when the list is refreshed %>
     <% end %>

     <%= render(
                 :partial => 'list',
                 :locals => { :items_wh_transacs => @item_wh_transacs }
         ) %>

     </div>
 </div>