<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@worker,remote: remote, html: {role: :form, 'data-model' => 'worker'}) do |f| %>
    <% if @worker.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

          <ul>
            <% @worker.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <!--(new or form page)-->


      <div class="form-group">

          <label class="control-label col-md-2"><%= f.label :name %> </label>
          <input type="text" class="form-control" <%= f.text_field :name %>

      </div>

    <div class="form-group">
      <%= f.label :city %><br>
      <%= f.select :city, options_for_select(@cities.map { |value| [ value.cityName,value.id ]}, :selected => f.object.name), {:include_blank => 'Please select'},{:class => 'form-control', :id => 'mycity3', onChange:'populateLocations(this.selectedIndex);'} %>

    </div>
      <div class="form-group">

          <label class="control-label col-md-2"><%= f.label :subcity %></label>
        <select id="LocationsBox" class = "form-control"></select>


      </div>

      <div class="form-group">

          <label class="control-label col-md-2"><%= f.label :Peramadd %></label>
          <input type="text" class="form-control" <%= f.text_field :peramadd %>

      </div>
      <div class="form-group">

          <label class="control-label col-md-2"><%= f.label :phoneno %></label>
          <input type="text" class="form-control" <%= f.text_field :phoneno %>

      </div>
      <div class="form-group">

          <label class="control-label col-md-2"><%= f.label :email %></label>
          <input type="text" class="form-control" <%= f.text_field :email %>

      </div>
    <div class="field" >
      <%= f.label :servicename %><br>
      <%= f.select :servicename, options_for_select(@services.map { |value| [ value.name ]}, :selected => f.object.id), {:include_blank => 'true'},{:prompt => 'Select Person'} %>
    </div>
      <div class="form-group">

          <label class="control-label col-md-2"><%= f.label :contractbasis %></label>
          <input type="text" class="form-control" <%= f.text_field :contractbasis %>

      </div>
    <%= hidden_field_tag(:subcity, nil,{:id=> 'new'}) %>
      <div class="form-group">

          <label class="control-label col-md-2"><%= f.label :status %></label>
          <input type="text" class="form-control" <%= f.text_field :status %>
          <br>

      </div>

   <div class="form-group">

    <div class="actions">
      <%= f.submit 'Submit', class: 'btn btn-info' %>
    </div>

   </div>

<% end %>
<script>
  var sv;

    $( "#LocationsBox" ).change(function() {
        var sel = document.getElementById('LocationsBox');

        var svLoc = sel.options[sel.selectedIndex].value;
        $.ajax({

            url: "<%= '/cities/show' %>", // Route to the Script Controller method
            type: "GET",
            dataType: "json",
            data: { city_id: sv },
            complete: function() {},
            success: function(data) {

                var temp=0;
                $.each(data.locations, function(i, location) {
                    if(location.id==svLoc){
                        document.getElementById('new').value=svLoc;
                        alert(location.subCity);
                    }

                });
            },
            error: function() {
                alert("Ajax error!")
            }
        });

    });
  function getIdLocations(){
      alert(document.getElementById('LocationsBox').options[sel.selectedIndex].value)
  }
    function populateLocations(cityID) {

        var sel = document.getElementById('mycity3');
         sv = sel.options[sel.selectedIndex].value;
        var x = document.getElementById("LocationsBox");
        x.options.length=0;
        x.selectedIndex=-1;
        $.ajax({

            url: "<%= '/cities/show' %>", // Route to the Script Controller method
            type: "GET",
            dataType: "json",
            data: { city_id: sv },
            complete: function() {},
            success: function(data) {

                var temp=0;
                $.each(data.locations, function(i, location) {
                    var option = document.createElement("option");
                    option.value = location.id;
                    option.text = location.subCity;
                    x.add(option,i);
                    x.selectedIndex=-1;
                });
            },
            error: function() {
                alert("Ajax error!")
            }
        });
    }
</script>
<!--(new or form End page)-->



