
<tr >
  <td ><%= worker.name %></td>
  <td ><%= worker.city %></td>
  <td ><%= worker.subcity %></td>
  <td ><%= worker.peramadd %></td>
  <td ><%= worker.phoneno %></td>
  <td ><%= worker.email %></td>
  <td ><%= worker.servicename %></td>
  <td ><%= worker.contractbasis %></td>
  <td ><%= worker.status %></td>
  <td> <%= link_to '', worker_details_path(worker),:id =>'edit_show',:class => 'fa fa-eye fa-2x',:style =>'color:#C66',remote: true%>
    <%= link_to '', edit_worker_path(worker),:id =>'edit_show',:style =>'color:#C90',:class => 'fa fa-pencil fa-2x' ,remote: true%>
    <%= link_to '', worker, data: { confirm: 'Are you sure?' },:style =>'color:red',:method => :delete,:id =>'edit_show',:class => 'fa fa-trash-o  fa-2x' %>
  </td>
</tr>