
<tr id="form-design">
  <td id="form-design"><%= worker.name %></td>
  <td id="form-design"><%= worker.city %></td>
  <td id="form-design"><%= worker.subcity %></td>
  <td id="form-design"><%= worker.peramadd %></td>
  <td id="form-design"><%= worker.phoneno %></td>
  <td id="form-design"><%= worker.email %></td>
  <td id="form-design"><%= worker.servicename %></td>
  <td id="form-design"><%= worker.contractbasis %></td>
  <td id="form-design"><%= worker.status %></td>
  <td> <%= link_to '', worker_details_path(worker),:id =>'edit_show',:class => 'fa fa-eye fa-2x',:style =>'color:#C66',remote: true%>
    <%= link_to '', edit_worker_path(worker),:id =>'edit_show',:style =>'color:#C90',:class => 'fa fa-pencil fa-2x' ,remote: true%>
    <%= link_to '', worker, data: { confirm: 'Are you sure?' },:style =>'color:red',:method => :delete,:id =>'edit_show',:class => 'fa fa-trash-o  fa-2x' %>
  </td>
</tr>